<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>AwesomeEvents</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <%= link_to 'AwesomeEvents', root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
  </body>
</html>
